
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    background-image: url(img/Background\ Virtual\ Gradasi\ Pelangi\ Merah\ Muda\ dan\ Ungu\ .jpg);
    color: #333;
    margin: 0;
    padding: 0;
}

.nav {
  justify-content: center;   
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #f565eb;
  display: flex;
  position: fixed;
}
.flex ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #b331ab;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.flex ul li {
  margin-right: 20px;
}

.flex ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.flex ul li a:hover {
  text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 40px;
    background: #f4f6f5;
    box-shadow: 0 4px 8px rgba(232, 200, 220, 0.1);
    border-radius: 25px;
}
.sub-container{
    max-width: 1000px;
    margin: 30px auto;
    padding:30px;
    background-color: #f3f0b5;
    box-shadow: 0 4px 8px rgba(232, 60, 166, 0.1);
    border-radius: 25px;
}
h1 {
    font-family: cursive;
    font-size: 2em;
    color: #6d27c1;
    text-align: center;
}
h2 {
    font-size: 1.5em;
    color: #6a1b9a;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
}
ul li {
    margin-bottom: 8px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    border: 1px solid #180202;
    color: rgb(201, 16, 121); 
    background-color: #fdfdfd;
}

a {
    color: #6a1b9a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10px;
}





